
div.relative {
    position: relative;
    width: 100%;
    height:600px;
    border: 3px solid black;
} 

div.rectangle1 {
   
    position: absolute;
    top: 50px;
    right: 50px;
    width: 30%;
    height:35%;
    border: 3px solid black;
}
div.circle {
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 550px;
    width:  22%;
    height: 25%;
    border: 3px solid red;
}
div.rectangle2 {
    position: absolute;
    top: 350px;
    right: 50px;
    width: 30%;
    height: 35%;
    border: 3px solid black;
}
div.rectangle3 {
    position: absolute;
    top: 350px;
    left: 50px;
    width: 30%;
    height: 35%;
    border: 3px solid black;
}
div.rectangle4 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 30%;
    height: 35%;
    border: 3px solid black;
}
div #square1 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 15%;
    height: 25%;
    border: 3px solid black;
}
div #square5 {
    position: absolute;
    top: 70px;
    left: 160px;
    width: 15%;
    height: 25%;
    border: 3px solid black;
}
div #square2 {
    position: absolute;
    top: 20px;
    left: 290px;
    width: 15%;
    height: 25%;
    border: 3px solid black;
}
div #square3 {
    position: absolute;
    top: 120px;
    left: 30px;
    width: 15%;
    height: 25%;
    border: 3px solid black;
}
div #square4 {
    position: absolute;
    top: 120px;
    left: 290px;
   width: 15%;
    height: 25%;
    border: 3px solid black;
}
div #rect1 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 100px;
    height: 60px;
    border: 3px solid blue;
}
div #rect2 {
    position: absolute;
    top: 20px;
    left: 250px;
    width: 100px;
    height: 60px;
    border: 3px solid blue;
}
div #rect3 {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 100px;
    height: 60px;
    border: 3px solid blue;
}
div #rect4 {
    position: absolute;
    top: 110px;
    left: 250px;
    width: 100px;
    height: 60px;
    border: 3px solid blue;
}
div #roundrect1 {
    border-radius: 25px;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 100px;
    height: 60px;
    border: 3px solid #800080;
}
div #roundrect2 {
    border-radius: 25px;
    position: absolute;
    top: 20px;
    left: 250px;
    width: 100px;
    height: 60px;
    border: 3px solid #800080;
}
div #roundrect3 {
    border-radius: 25px;
    position: absolute;
    top: 110px;
    left: 30px;
    width: 100px;
    height: 60px;
    border: 3px solid #800080;
}
div #roundrect4 {
    border-radius: 25px;
    position: absolute;
    top: 110px;
    left:250px;
    width: 100px;
    height: 60px;
    border: 3px solid #800080;
}
div #round1 {
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left:20px;
    width: 80px;
    height: 80px;
    border: 3px solid red;
}
div #round2 {
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left:280px;
    width: 80px;
    height: 80px;
    border: 3px solid red;
}

div #round3 {
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left:280px;
    width: 80px;
    height: 80px;
    border: 3px solid red;
}
div #round4 {
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left:20px;
    width: 80px;
    height: 80px;
    border: 3px solid red;
}
div #round5 {
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left:145px;
    width: 80px;
    height: 80px;
    border: 3px solid red;
}
