div.relative {
    position: relative;
    width: 1200px;
    height: 600px;
    border: 3px solid #73AD21;
} 

div.rectangle1 {
   
    position: absolute;
    top: 50px;
    right: 50px;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}
div.circle {
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 500px;
    width:  200px;
    height: 200px;
    border: 3px solid #73AD21;
}
div.rectangle2 {
    position: absolute;
    top: 350px;
    right: 50px;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}
div.rectangle3 {
    position: absolute;
    top: 350px;
    left: 50px;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}
div.rectangle4 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}
div #square1 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 60px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #square5 {
    position: absolute;
    top: 70px;
    left: 160px;
    width: 60px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #square2 {
    position: absolute;
    top: 20px;
    left: 290px;
    width: 60px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #square3 {
    position: absolute;
    top: 120px;
    left: 30px;
    width: 60px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #square4 {
    position: absolute;
    top: 120px;
    left: 290px;
    width: 60px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #rect1 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 100px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #rect2 {
    position: absolute;
    top: 20px;
    left: 250px;
    width: 100px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #rect3 {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 100px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #rect4 {
    position: absolute;
    top: 110px;
    left: 250px;
    width: 100px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #roundrect1 {
    border-radius: 25px;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 100px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #roundrect2 {
    border-radius: 25px;
    position: absolute;
    top: 20px;
    left: 250px;
    width: 100px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #roundrect3 {
    border-radius: 25px;
    position: absolute;
    top: 110px;
    left: 30px;
    width: 100px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #roundrect4 {
    border-radius: 25px;
    position: absolute;
    top: 110px;
    left:250px;
    width: 100px;
    height: 60px;
    border: 3px solid #73AD21;
}
div #round1 {
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left:20px;
    width: 80px;
    height: 80px;
    border: 3px solid #73AD21;
}
div #round2 {
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left:280px;
    width: 80px;
    height: 80px;
    border: 3px solid #73AD21;
}

div #round3 {
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left:280px;
    width: 80px;
    height: 80px;
    border: 3px solid #73AD21;
}
div #round4 {
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left:20px;
    width: 80px;
    height: 80px;
    border: 3px solid #73AD21;
}
div #round5 {
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left:145px;
    width: 80px;
    height: 80px;
    border: 3px solid #73AD21;
}
